.form {
  padding: 24px;
  margin: 0 auto;
  background-color: #fffefb;
  box-shadow: 0 20px 30px rgb(0 0 0 / 4%), 0 6px 10px rgb(0 0 0 / 2%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.label {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: #49485e;
  display: flex;
  flex-direction: column;
}

.form__label:first-child {
  margin-top: 8px;
  position: relative;
}

.form__label {
  position: relative;
  margin: 8px 0;
}

.label__required {
  position: relative;
}

.label__required::after {
  content: "";
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  background-color: #ff8484;
  border-radius: 50%;
}

.form__textarea {
  min-height: 88px;
}
.input,
.select,
.textarea {
  padding: 10px 16px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 15px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  border: none;
  border-radius: 4px;
}

.form__button {
  width: 100%;
  margin-top: 18px;
}

.form__button-disabled {
  background-color: #eeeeee;
  color: #b4b4b4;
  width: 100%;
  margin-top: 18px;
}

.button {
  display: inline-block;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: white;
  background-color: #7bae73;
  border: none;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  border-radius: 10px;
}
